body{
    min-height: 100vh;
    background-color: rgb(86, 85, 150);

}

header{
    width: 100%;
    height: 5vh;
    background-color: rgb(86, 85, 150);
}

#no-texto{
    width: 340px;
    height: 300px;
}

main{
    width: 100%;
    height: 80vh;
    display: flex;
    background-color: rgb(86, 85, 150);
}

#logo-alura{
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

section{
    height: 100%;
    width: 40%;
}

#ingreso-texto{
    width: 100%;
    height: 80%;
    background-color: rgb(86, 85, 150);
    border: none;
}

#aviso{
    padding: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 9%;
}

#alerta{
    padding: 0 1% 0 ;
}

.bloque-izquierdo{
    width: 70%;
    height: 90%;
    margin-top: 2%;
}

#ingreso-texto{
    width: 65%;
    height: 80%;
    resize: none;
    display: block;
    margin: auto;
    margin-top: 40px;
    font-size: 4vh;
    outline: none;
}

.div-botones{
    text-align: center;
}

.boton-encriptar{
    margin: 10px;
    width: 20%;
    height: 5vh;
    border-radius: 14px;
    background-color: rgb(60, 59, 96);
    color: aliceblue;
}

.boton-desencriptar{
    margin: 10px;
    width: 20%;
    height: 5vh;
    border-radius: 14px;
    background-color: rgb(175, 174, 207);
}

.bloque-derecho{
    box-sizing: border-box;
    overflow: hidden;
    width: 25%;
    height: 90vh;
    background-color: rgb(159, 157, 206);
    border-radius: 22px;
}

#imagen-sin-texto{
    width: 100%;
    height: 60%;
    padding: 60px 0 0 0;
    box-sizing: border-box;
    align-items: center;
}

#no-texto{
    align-items: center;
    display: block;
    margin: auto;
}

#div-h3{
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 4vh;
}

#div-p{
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 2.2vh;
    margin-bottom: 20%;
}

.texto-derecho{
    font-size: 3vh;
    color: bisque;
}

.blanco{
    color: bisque;
    font-size: 2.1vh;
}

#respuesta{
    width: 90%;
    margin: 5%;
    height: 86%;
    box-sizing: border-box;
}

#div-copiar{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
}
 
.boton-copiar{
    width: 80%;
    height: 40%;
    border-radius: 14px;
}

footer{
    margin-top: 10%;
    width: 100%;
    height: 5vh;
    background-color: rgb(86, 85, 150);
    display: flex;
    justify-content: center;
}

.esconder{
    display: none;
}